{% extends "layout_not_admin.html" %}
{% block content %}
    <h1>Nurse</h1>
{% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.name }}</a>
              <small class="text-muted">role: {{ post.role }}</small>
            </div>
            <h2><a class="article-title" href="#">work years: {{ post.work_years }}</a></h2>
            <p class="article-content">employment_percentage: {{ post.employment_percentage }}</p>
              <p class="article-content">licence id: {{ post._id}}</p>
              <p class="article-content">email: {{ post.email }}</p>
              <p class="article-content">courses: {{ post.courses }}</p>
              <p class="article-content">is_admin: {{ post.is_admin }}</p>
          </div>
        </article>
 <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ posts_nurse.name }}</a>
              <h2>statistics</h2>
            </div>
             <p class="article-content">number_of_births: {{ posts_nurse.number_of_births }}<p>
            <p class="article-content">number_of_living_births: {{ posts_nurse.number_of_living_births }}</p>
              <p class="article-content">epi: {{ posts_nurse.epi}}</p>
              <p class="article-content">epidoral: {{ posts_nurse.epidoral }}</p>
              <p class="article-content">c-section: {{ posts_nurse.cs }}</p>
              <p class="article-content">third_degree_tear: {{ posts_nurse.third_degree_tear }}</p>
               <p class="article-content">shoulder_dystocia_perstange: {{ posts_nurse.shoulder_dystocia_perstange }}</p>
               <p class="article-content">vaccum: {{ posts_nurse.vaccum}}</p>
               <p class="article-content">vaginal birth after c-section: {{ posts_nurse.tolac_toVbac_percentange  }}</p>
          </div>
        </article>
            <a class="mr-2" href="{{ url_for('get_nurse_statistic') }}"> <h2>Nurse Statistics</h2></a>
  {% endfor %}
{% endblock content %}